
<body>
	
    <div class="image-page">
		<p class="heading">Images</p>
    <%= link_to "New Image", new_image_path, class: "btn-create" %>
    <div class="image-list">
		<% if @image_list.present? %>
			<% @image_list.each do |image| %>
			<div class="image-tile">
				<div class="image-content">

						<p>
                        <% if image.tag.present? %>
  <span class='letter-class'> <%= image.tag[0].upcase %></span>
<% end %>
                        <%= link_to image.tag, image_path(image.id) %>
                        </p>
				</div>
			</div>
		<% end %>
		<% else %>
			<p>No images found for this user's Run Time Objects.</p>
		<% end %>
        </div>
	</div>
    <div class="pagy-create-image">
    <% if @pagy.pages > 1 %>
      <div class="pagy-nav">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</body>

