<div class="dropdown-container" style="position: relative;">
  <button id="dropdownButton" onclick="toggleMenu()" class="round-button">&#9776;</button>
  <div id="dropdownMenu" class="dropdownMenu" style="display: none;">
  <div class="menu-item">
  <p class="profile-test"><%= @current_user.first_name %>
  <br/>
  <%= @current_user.email %>
  </p>
</div>
      <div class="menu-item">
        <p class="menu-link"> Settings</p>
      </div>
      <div class="menu-item">
      <%= link_to 'Logout', logout_path, method: :delete, class: 'menu-link' %>
    </div>
  </div>
</div>


<script>
  function toggleMenu() {
    const menu = document.getElementById('dropdownMenu');
    menu.style.display = menu.style.display === 'none' ? 'block' : 'none';
  }
</script>
