<style>
.dropdownMenu {
  position: absolute; 
  right: 5%; 
  top: 100%; 
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: white; 
  z-index: 1000; 
  display: none; 
  width: 20rem; 
  box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.2); 
  border: 0.2rem solid black; 
  padding: 1rem;
}

.menu-link {
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.menu-link:hover {
  color: lightgrey;
}

.profile-test {
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}


</style>


<div style="position: relative;">
  <button id="dropdownButton" onclick="toggleMenu()" class="round-button">&#9776;</button>
  <div id="dropdownMenu" class="dropdownMenu">
    <p class="profile-test">
    <%= "#{@current_user.first_name} #{@current_user.last_name}" %>
    <% if @current_user.admin %>
      (Admin)
    <% end %>
    <br/>
    </p>

    <% if @current_user.admin %>
      <div style="border-top: 0.1rem solid lightgrey; margin: 0.1rem 0;"></div>
      <%= link_to 'Manage Users', manage_users_path, method: :get, class: 'menu-link' %>
    <% end %>
    <div style="border-top: 0.2rem solid lightgrey; margin: 0.2rem 0;"></div>
    <%= link_to 'Logout', logout_path, method: :get, class: 'menu-link' %>
  </div>
</div>


<script>
function toggleMenu() {
  const menu = document.getElementById('dropdownMenu');
  if (menu.style.display === 'block') {
    menu.style.display = 'none';  
  } else {
    menu.style.display = 'block';  
  }
}

window.onclick = function(event) {
  if (!event.target.matches('#dropdownButton')) {
    const menu = document.getElementById('dropdownMenu');
    if (menu.style.display === 'block') {
      menu.style.display = 'none';
    }
  }
}
</script>
