<div class="signin-container">

  <h1>Sign in to USSF</h1>
  <hr class="divider">
  <p>
    <%= image_tag "google_logo.png", alt: "Google Logo", class: "google-logo" %>
  </p>
  <div>
    <%= button_to "Login with Google", "/auth/google_oauth2",
                  method: :post,
                  class: "google-login-button",
                  data: { turbo: "false" } %>
  </div>
</div>
