<body>
    <div class="image-page">
        <p class="heading">Container Image</p>
        <%= link_to "New Container Image", new_run_time_object_path, class: "btn-create" %>
        <div class="image-list">
            <% if @run_time_objects.present? %>
                <% @run_time_objects.each do |object| %>
                    <div class="image-tile">
                        <div class="image-content">
                            <p>
                                <% if object.name.present? %>
                                    <span class='letter-class'> <%= object.name %></span>
                                <% end %>
                                <%= link_to 'Show Images', run_time_object_images_path(run_time_object_id: object.id) %>
                            </p>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <p>No runtime objects found for this user.</p>
            <% end %>
        </div>
    </div>
    <div class="pagy-create-image">
        <% if @pagy.pages > 1 %>
            <div class="pagy-nav">
                <%== pagy_nav(@pagy) %>
            </div>
        <% end %>
    </div>
</body>
