/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.signin-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

.top-left-image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.top-left-image img {
    width: 50px;
    height: auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.google-login-button {
    display: inline-block;
    background-color: #4285f4;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.google-login-button:hover {
    background-color: #357ae8;
}


.google-logo {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.ussf-logo {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

